<section id="modal-content">
  <div class="modal fade" id="modal" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Who is submitting?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Name: Ron Avital <br />Id: 318751419<br />Email: ronav@edu.hac.ac.il<br /></p>
          <p>Name: David Weschler<br />Id: 209736578<br />Email: davidwes@edu.hac.ac.il</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
</section>
