<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link id="favicon" rel="icon" href="images/chat.png" type="image/x-icon" />
    <title>Chat R&D</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  </head>
  <body style="background-color: #66c2bab9">
    <div class="navbar-nav m-5 mb-0">
      <button class="nav-link me-auto text-dark border border-dark border-2 rounded p-3" data-bs-toggle="modal" data-bs-target="#modal">Who is submitting?</button>
    </div>

    <section>
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-xl-10">
            <div class="card" style="border-radius: 1rem">
              <div class="row g-0">
                <div class="col-md-6 col-lg-5 d-none d-md-block">
                  <img src="/images/homepage.png" alt="Homepage Image" class="img-fluid" style="border-radius: 1rem 0 0 1rem" />
                </div>
                <div class="col-md-6 col-lg-7 d-flex align-items-center">
                  <div class="card-body p-4 p-lg-5 text-black">
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <span class="h1 fw-bold mb-0">Ron And David's GREATEST ChatBot</span>
                    </div>
                    <h5 class="fw-normal mb-3 pb-3">login</h5>

                    <form action="/login" method="POST">
                      <div class="form-floating mb-4">
                        <input type="email" name="email" id="logInEmail" class="form-control" placeholder="email" required maxlength="32" />
                        <label for="logInEmail" class="text-secondary">Email address</label>
                      </div>
                      <div class="form-floating mb-4">
                        <input type="password" name="password" id="password3" class="form-control" placeholder="Password" required maxlength="32" />
                        <label for="password3" class="text-secondary">Password</label>
                      </div>

                      <% if (messages.error) { %>
                      <h6 class="<%= messages.color %>"><%= messages.error %></h6>
                      <% } %>

                      <div class="pt-1 mb-4">
                        <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                      </div>
                    </form>

                    <form action="/newUser/register">
                      <p class="mb-5 pb-lg-2">
                        Don't have an account?
                        <button type="submit" class="btn btn-link p-0" style="color: #393f81">Register here</button>
                      </p>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="modal-content">
      <div class="modal fade" id="modal" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Who is submitting?</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Name: Ron Avital <br />Id: 318751419<br />Email: ronav@edu.hac.ac.il<br /></p>
              <p>Name: David Weschler<br />Id: 209736578<br />Email: davidwes@edu.hac.ac.il</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
